*
{
	font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	outline:0;
	border:0;
	selection-background-color:$highlight-bg;
	selection-color:$highlight-text;
}

DockTitleBar
{
	font-size:11px;
}

QMainWindow,
QDockWidget
{
	background-color:$base-bg;
}

QMainWindow::separator
{
	background-color:$base-bg;
	height:5px;
	width:5px;
}

QMainWindow::separator:hover
{
	background:$base-hover;
}

QDialog,
QWizard *,
QCalendarWidget *,
#qswPages > QObject
{
	background-color:$dialog-bg;
	color:$sub-text;
}

QTextEdit
{
	background-color:$base-bg;
	color:$base-text;
}

a
{
	color:$link;
	text-decoration:none;
}

QToolBar
{
	background-color:$base-bg;
	spacing:0;
}

QToolBar::separator
{
	background:$sub-highlight;
	height:1px;
	margin:5px;
	width:1px;
}

QToolBar::handle
{
	padding:3px;
}

QToolBar::handle:horizontal
{
	image:url(skin:controls/handle_horizontal.svg);
	width:8px;
}

QToolBar::handle:vertical
{
	height:8px;
	image:url(skin:controls/handle_vertical.svg);
}

QToolButton
{
	padding:5px;
}

QToolButton:hover
{
	background-color:$base-hover;
}

QToolButton:on
{
	background-color:$base-hover;
}

QToolButton#qt_toolbar_ext_button
{
	width:10px;
	padding:0;
	border: 0px solid $base-border;
	background: $base-hover;
	qproperty-icon:url(skin:controls/toolbar_ext.svg);
}

QHeaderView
{
	border:0;
	border-bottom:1px solid $base-border;
}

QHeaderView::section
{
	background-color:$median-bg;
	border:0;
	color:$sub-text;
	padding:5px;
}

QTreeView
{
	background-color:$sub-bg;
	alternate-background-color:transparent;
	border:1px solid $base-border;
	color:$sub-text;
	outline:0;
	selection-background-color:$sub-bg;
	selection-color:$sub-text;
	margin:5px;
}

QTreeView.UserView,
QTextBrowser.LogTextBrowser
{
	padding:1px;
	margin:0px;
}

QTreeView::item
{
	border-left:1px solid transparent;
	padding:5px;
}

QTreeView.UserView::item
{
	padding:0;
}

QTreeView::item:hover
{
	background-color:$sub-hover;
	border-top:1px transparent;
}

QTreeView::item:selected
{
	background-color:$sub-hover;
	border:1px solid $base-border;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
}

QTreeView::item:selected.UserView
{
	border:1px solid $base-border;
}

QTreeView::branch
{
	border-image:none;
	image:none;
	margin-left:3px;
	margin-top:1px;
	padding-left:3px;
}

QTreeView::branch:has-children:closed
{
	image:url(skin:controls/branch_closed.svg);
}

QTreeView::branch:has-children:open
{
	image:url(skin:controls/branch_open.svg);
}

QTextBrowser
{
	background-color:$sub-bg;
	border:1px solid $base-border;
	color:$sub-text;
	padding:1px;
}

.log-time
{
	background-color:transparent;
	color:#95a5a6;
	font-size:12px;
}

.log-server
{
	background-color:transparent;
	color:#F9655D;
	font-weight:bold;
}

.log-channel
{
	background-color:transparent;
	color:#e67e22;
	font-weight:bold;
}

.log-privilege
{
	background-color:transparent;
	color:#c0392b;
	font-weight:bold;
}

.log-target
{
	background-color:transparent;
	color:#27ae60;
	font-weight:bold;
}

.log-source
{
	background-color:transparent;
	color:#27ae60;
	font-weight:bold;
}

QScrollBar
{
	background:transparent;
	width:15px;
}

UserView QScrollBar,
LogTextBrowser QScrollBar
{
	margin-left:1px;
}

QScrollBar::handle
{
	background:$sub-highlight;
}

QScrollBar::handle:hover
{
	background:$scrollbar-hover;
}

QScrollBar::left-arrow,
QScrollBar::right-arrow,
QScrollBar::up-arrow,
QScrollBar::down-arrow,
QScrollBar::sub-line,
QScrollBar::add-line,
QScrollBar::add-page,
QScrollBar::sub-page,
QAbstractScrollArea::corner
{
	background:$base-bg;
	height:0;
}

QMenuBar
{
	background-color:$base-bg;
	border:0;
}

QMenuBar::item
{
	background-color:transparent;
	color:$base-text;
	padding:5px 12px;
	border:0;
}

QMenuBar::item:selected
{
	background:$highlight-bg;
	color:$highlight-text;
}

QMenuBar::item:pressed
{
	background:$highlight-pressed;
	color:$highlight-text;
}

QMenu
{
	background:$menu-bg;
	border:1px solid $base-border;
	color:$sub-text;
	padding:0;
}

QMenu::item
{
	background:transparent;
	border:1px solid transparent;
	color:$sub-text;
	margin:1px;
	padding:.4em 2em;
}

QMenu::item:selected
{
	background:$menuitem-hover;
	border:1px solid $menuitem-border;
}

QMenu::item:disabled
{
	border:1px solid transparent;
	background:transparent;
	color:$sub-text-disabled;
}

QMenu::separator
{
	background:$sub-highlight;
	height:1px;
}

QMenu::indicator
{
	height:20px;
	width:25px;
}

QPushButton
{
	background-color:$button-bg;
	border:1px solid $button-border;
	color:$sub-text;
	font-size:18px;
	padding:3px 10px;
	outline:0;
}

QPushButton:hover
{
	background-color:$highlight-bg;
	color:$highlight-text;
	border:1px solid transparent;
}

QPushButton:pressed
{
	background-color:$highlight-pressed;
}

QPushButton:disabled
{
	background-color:transparent;
	color:$sub-text-disabled;
}

QGroupBox
{
	background-color:$median-bg;
	border:1px solid $base-border;
	color:$sub-text;
	font-size:18px;
	margin:5px;
	padding:5px;
	padding-top:30px;
}

QGroupBox::title
{
	background-color:transparent;
	margin:5px;
	margin-left:10px;
	margin-right:10px;
}

QListView
{
	background-color:$sub-bg;
	border:1px solid $base-border;
	min-width:160px;
	padding:0;
	outline:0;
}

QListView#qlwIcons
{
	background-color:transparent;
	border:0;
	font-size:16px;
	margin-left:5px;
	margin-top:15px;
}

QListView::item
{
	border-left:10px solid transparent;
	color:$base-text;
	padding:5px 0;
}

QListView::item:hover
{
	background-color:$sub-hover;
}

QListView#qlwIcons::item:hover
{
	background-color:$base-hover;
}

QListView::item:selected
{
	background-color:$sub-hover;
	border:1px solid $base-border;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	padding-left:9px;
}

QListView#qlwIcons::item:selected
{
	background-color:$median-bg;
	border:1px solid $base-border;
	padding-left:9px;
}

QTabWidget::pane
{
	background-color:$median-bg;
	border:1px solid $base-border;
	margin-left:5px;
}

QTabWidget::tab-bar
{
	left:5px;
}

QTabBar::tab
{
	background-color:transparent;
	color:$sub-text;
	padding:5px 20px;
	margin-bottom:-1px;
}

RichTextEditor QTabBar::tab
{
	margin:0px;
	margin-top:-1px;
}

QTabBar::tab:hover
{
	background-color:$base-hover;
	border:0;
}

QTabBar::tab:selected
{
	color:$sub-text;
	background-color:$tab-selected;
	border:1px solid $base-border;
}

QLineEdit,
QComboBox,
QSpinBox,
QAbstractSpinBox
{
	background-color:$input-bg;
	border:1px solid $base-border;
	color:$sub-text;
	padding:5px;
}

QLineEdit:disabled,
QComboBox:disabled,
QSpinBox:disabled,
QAbstractSpinBox:disabled
{
	background-color:transparent;
	color:$sub-text-disabled;
}

QComboBox::drop-down,
QAbstractSpinBox::drop-down,
QSpinBox::drop-down
{
	border:0;
	margin-left:10px;
	margin-right:20px;
	margin-top:5px;
}

QComboBox::down-arrow,
QSpinBox::down-arrow,
QAbstractSpinBox::down-arrow
{
	border-bottom-color:$control-icon;
	border-bottom-style:none;
	border-left-width:5px;
	border-right-width:5px;
	border-style:solid;
	border-top-color:$control-icon;
	border-top-width:5px;
	margin:1px;
}

QSpinBox::down-arrow,
QAbstractSpinBox::down-arrow
{
	subcontrol-origin:border;
	subcontrol-position:center right;
	right:-15px;
}

QSpinBox::down-button,
QAbstractSpinBox::down-button,
{
	border-bottom-color:$control-icon;
	border-bottom-style:none;
	border-left-width:5px;
	border-right-width:5px;
	border-style:solid;
	border-top-color:$control-icon;
	border-top-width:5px;
	margin:3px;
	width:0;
	right:2px;
}

QSpinBox::up-button,
QAbstractSpinBox::up-button
{
	border-bottom-color:$control-icon;
	border-bottom-width:5px;
	border-left-width:5px;
	border-right-width:5px;
	border-style:solid;
	border-top-color:$control-icon;
	border-top-style:none;
	margin:3px;
	width:0;
	right:2px;
}

QSpinBox::down-button:disabled,
QAbstractSpinBox::down-button:disabled,
QSpinBox::up-button:disabled,
QAbstractSpinBox::up-button:disabled,
QSpinBox::down-button:off,
QAbstractSpinBox::down-button:off,
QSpinBox::up-button:off,
QAbstractSpinBox::up-button:off,
QSpinBox::down-arrow:disabled,
QAbstractSpinBox::down-arrow:disabled,
QSpinBox::up-arrow:disabled,
QAbstractSpinBox::up-arrow:disabled,
QComboBox::down-arrow:disabled,
{
	border-top-color:$control-icon-disabled;
	border-bottom-color:$control-icon-disabled;
}

QComboBox QAbstractItemView
{
	background-color:$sub-bg;
	border:1px solid $base-border;
	color:$sub-text;
}

QLabel,
QCheckBox,
QAbstractCheckBox,
QRadioButton
{
	color:$sub-text;
	background:transparent;
}

QLabel:disabled
{
	color:$sub-text-disabled;
}

QCheckBox::indicator
{
	background-color:$input-bg;
	border:1px solid $base-border;
	height:14px;
	width:14px;
}

QCheckBox::indicator:checked
{
	image:$checkbox;
}

QCheckBox::indicator:disabled
{
	border:1px solid transparent;
	image:$checkbox-disabled;
}

QRadioButton:disabled,
QCheckBox:disabled
{
	color:$sub-text-disabled;
}

QRadioButton::indicator
{
	background:$input-bg;
	border:1px solid $base-border;
	border-radius:7px;
	height:12px;
	width:12px;
}

QRadioButton::indicator:disabled
{
	border:1px solid transparent;
}

QRadioButton::indicator:checked
{
	image:$radio;
}

QCheckBox::indicator:pressed,
QRadioButton::indicator:pressed
{
	background-color:$base-bg;
}

QSlider::groove
{
	background:$slider-bg;
	border:1px solid $base-border;
}

QSlider::groove:horizontal
{
	height:6px;
}

QSlider::groove:vertical
{
	width:6px;
}

QSlider::groove:disabled
{
	border:1px solid transparent;
}

QSlider::handle
{
	background:$slider-handle;
	border:1px solid $base-border;
	border-radius:2px;
}

QSlider::handle:horizontal
{
	margin:-5px -1px;
	width:20px;
}

QSlider::handle:vertical
{
	margin:-1px -5px;
	height:20px;
}

QSlider::handle:hover,
QSlider::handle:pressed
{
	background:$slider-handle-hover;
}

QSlider::handle:disabled
{
	background:transparent;
	border:0;
	border-radius:0;
	margin:0;
}

#qteRichText, #qptePlainText, #qwMacWarning
{
	color:$sub-text;
	background-color:$sub-bg;
	border:1px solid $base-border;
	padding:5px;
}

#qtbToolBar {
        border:1px solid transparent;
	background:transparent;
}