*
{
	font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	outline:0;
	border: 0;
	selection-background-color:$highlight-bg;
	selection-color:$highlight-text;
}

DockTitleBar
{
	font-size:11px;
}

QMainWindow,
QDockWidget
{	
	background-color:$base-bg;
}

QToolTip,
QWhatsThis
{
	border: 1px solid $base-border;
	background-color:$sub-bg;
	color:$sub-text;
}

QTreeView.UserView,
QTextBrowser.LogTextBrowser
{
	min-height:120px;
	min-width:250px;
	padding:1px;
	margin:0px;
}

QTreeView.UserView
{
	min-width:50px;
}

QMainWindow::separator
{
	background-color:$base-bg;
	height:$base-padding;
	width:$base-padding;
}

QMainWindow::separator:hover
{
	background:$base-hover;
}

QDialog,
QWizard *,
QCalendarWidget *,
#qswPages > QObject
{
	background-color:$dialog-bg;
	color:$base-text;
}

QTextEdit
{
	background-color:$base-bg;
	color:$base-text;
}

QTextEdit:disabled
{
	color:$sub-text-disabled;
}

#qdwChat QTextEdit
{
	font-size:12px;
}

a
{
	color:$link;
	text-decoration:none;
}

QToolBar
{
	background-color:$base-bg;
	spacing:0;
}

QToolBar::separator
{
	background:$sub-highlight;
	height:1px;
	margin:$base-padding;
	width:1px;
}

QToolBar::handle
{
	padding:$base-padding;
}

QToolBar::handle:horizontal
{
	image:url(skin:controls/handle_horizontal.svg);
	width:8px;
}

QToolBar::handle:vertical
{
	height:8px;
	image:url(skin:controls/handle_vertical.svg);
}

QToolButton
{
	padding:$base-padding;
}

QToolButton:hover
{
	background-color:$base-hover;
}

QToolButton:pressed
{
	background-color:$base-pressed;
}

QToolButton:on
{
	background-color:$base-hover;
}

QToolButton:on:pressed
{
	background-color:$base-pressed;
}

QToolButton#qt_toolbar_ext_button
{
	width:10px;
	padding:1px;
	border:0;
	qproperty-icon:url(skin:controls/toolbar_ext.svg);
}

QHeaderView
{
	border:0;
	border-bottom:1px solid $base-border;
}

QHeaderView::section
{
	background-color:$median-bg;
	border:0;
	color:$sub-text;
	padding:$base-padding;
	padding-left:$base-padding * 2;
}

QHeaderView::down-arrow {
	margin:1px;
	top:1px;
	right:10px;
	width:14px;
	image:url(skin:controls/arrow_down.svg);
 }

QHeaderView::up-arrow {
	margin:1px;
	top:1px;
	right:10px;
	width:14px;
	image:url(skin:controls/arrow_up.svg);
 }

QTreeView
{
	background-color:$sub-bg;
	alternate-background-color:transparent;
	border:1px solid $base-border;
	color:$sub-text;
	outline:0;
	selection-background-color:$sub-bg;
	selection-color:$sub-text;
	margin:$base-padding;
}

QTreeView::item
{
	border-left:1px solid transparent;
	padding:$base-padding;
}

QTreeView.UserView::item
{
	padding:0;
}

QTreeView::item:hover
{
	background-color:$sub-hover;
	border-top:1px transparent;
}

QTreeView::item:selected
{
	background-color:$sub-hover;
	border:1px solid $base-border;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
}

QTreeView#qtwServers::item:selected
{
	border-left:1px solid $base-border;
	border-right:1px solid $base-border;
}

QTreeView::item:selected.UserView
{
	border:1px solid $base-border;
}

QTreeView::branch
{
	border-image:none;
	image:none;
	margin-left:3px;
	margin-top:1px;
	padding-left:3px;
}

QTreeView::branch:has-children:closed
{
	image:url(skin:controls/branch_closed.svg);
}

QTreeView::branch:has-children:open
{
	image:url(skin:controls/branch_open.svg);
}

QTextBrowser
{
	background-color:$sub-bg;
	border:1px solid $base-border;
	color:$sub-text;
	padding:1px;
}

.log-time
{
	background-color:transparent;
	color:#95a5a6;
	font-size:14px;
}

.log-server
{
	background-color:transparent;
	color:#F9655D;
	font-weight:bold;
}

.log-channel
{
	background-color:transparent;
	color:#e67e22;
	font-weight:bold;
}

.log-privilege
{
	background-color:transparent;
	color:#c0392b;
	font-weight:bold;
}

.log-target
{
	background-color:transparent;
	color:#27ae60;
	font-weight:bold;
}

.log-source
{
	background-color:transparent;
	color:#27ae60;
	font-weight:bold;
}

QMenuBar
{
	background-color:$base-bg;
	border:0;
}

QMenuBar::item
{
	background-color:transparent;
	color:$base-text;
	padding:$base-padding 12px;
	border:0;
}

QMenuBar::item:selected
{
	background:$highlight-bg;
	color:$highlight-text;
}

QMenuBar::item:pressed
{
	background:$highlight-pressed;
	color:$highlight-text;
}

QMenu
{
	background:$menu-bg;
	border:1px solid $base-border;
	color:$sub-text;
	padding:0;
}

QMenu::item
{
	background:transparent;
	border:1px solid transparent;
	color:$sub-text;
	margin:1px;
	padding:$base-padding $base-padding * 4;
	padding-left:25px;
}

QMenu::item:selected
{
	background:$menuitem-hover;
	border:1px solid $menuitem-border;
}

QMenu::item:disabled
{
	border:1px solid transparent;
	background:transparent;
	color:$sub-text-disabled;
}

QMenu::separator
{
	background:$sub-highlight;
	height:1px;
}

QMenu::indicator
{
	height:20px;
	width:25px;
}

QPushButton
{
	background-color:$button-bg;
	border:1px solid $button-border;
	color:$sub-text;
	font-size:16px;
	$button-padding: $base-padding - 2px;
	padding: 4px $base-padding * 5;
	outline:0;
}

QPushButton:hover
{
	background-color:$button-hover;
}

QPushButton:pressed
{
	background-color:$highlight-bg;
	color:$highlight-text;
}

QGroupBox,
qwWarningContainer
{
	background-color:$median-bg;
	border:1px solid $base-border;
	color:$base-text;
	font-size:18px;
	margin:$base-padding;
	padding:$base-padding;
	padding-top:30px;
}

QGroupBox::title
{
	background-color:transparent;
	margin:$base-padding;
	margin-left:$base-padding * 2;
	margin-right:$base-padding * 2;
}

QListView
{
	background-color:$sub-bg;
	alternate-background-color:$sub-bg;
	border:1px solid $base-border;
	outline:0;
	padding-top:-1px;
}

QListView#qlwIcons
{
	padding:0;
	background-color:transparent;
	border:0;
	min-width:160px;
	font-size:16px;
	margin-left:$base-padding;
	margin-top:15px;
}

QListView::item
{
	border-left:$base-padding * 2 solid transparent;
	color:$base-text;
	padding:$base-padding 0;
	border-top:1px solid transparent;
}

QListView#qlwIcons::item
{
	padding:5px 0;
}

QListView::item:hover
{
	border-top:0;
	margin-top:1px;
	background-color:$sub-hover;
}

QListView#qlwIcons::item:hover
{
	background-color:$base-hover;
}

QListView::item:selected
{
	margin-top:0;
	background-color:$sub-hover;
	border:1px solid $base-border;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	padding-left:$base-padding * 2 - 1;
}

QListView::item QListWidgetItem,
QListView::item QLineEdit,
QTreeView::item QComboBox,
QTreeView::item QLineEdit
{
	margin: 0;
	padding: 1px;
	padding-left: $base-padding;
	font-size: 12px;
}

QTreeView::item QHeaderView
{
	margin: 0;
	padding: 0;
	font-size: 14px;
}

QListView#qlwIcons::item:selected
{
	margin-top:1px;
	background-color:$median-bg;
	border:1px solid $base-border;
	padding-left:$base-padding * 2 - 1;
}

QTabWidget::pane
{
	background-color:$median-bg;
	border:1px solid $base-border;
	margin-left:$base-padding;
	margin-top:-1px;
}

QTabWidget::tab-bar
{
	background-color:$dialog-bg;
	left:$base-padding;
}

QTabBar::tab
{
	background-color:transparent;
	color:$sub-text;
	padding:$base-padding $base-padding * 5;
	border-bottom:1px solid $base-border;
	border-right:1px solid $base-border;
	margin-left:-1px;
	height:20px;
	subcontrol-position: center bottom;
}

QTabBar::tab:first
{
	border-left:1px solid transparent;
	margin:0;
}

QTabBar::tab:last
{
	border-right:1px solid transparent;
}

QTabBar::tab:hover
{
	background-color:$base-hover;
}

QTabBar::tab:disabled
{
	color:$sub-text-disabled;
}

QTabBar::tab:selected
{
	height:20px;
	background-color:$median-bg;
	border:1px solid $base-border;
	border-bottom:1px solid transparent;
	color:$sub-text;
}

RichTextEditor::pane
{
	margin-top:0;
	margin-bottom:-1px;
}

RichTextEditor QTabBar::tab
{
	subcontrol-position: center top;
	border-top:1px solid $base-border;
	border-bottom:1px solid transparent;
}

RichTextEditor QTabBar::tab:selected
{
	border-top:1px solid transparent;
	border-bottom:1px solid $base-border;
}

QComboBox,
QSpinBox,
QAbstractSpinBox
{
	background-color:$button-bg;
}

QLineEdit
{
	background-color:$input-bg;
}

QLineEdit,
QComboBox,
QSpinBox,
QAbstractSpinBox
{
	border:1px solid $button-border;
	color:$sub-text;
	padding:$base-padding;
}

QSpinBox,
QAbstractSpinBox
{
	min-width: 35px;
	padding-right: 15px;
}

QPushButton:disabled,
QLineEdit:disabled,
QComboBox:disabled,
QSpinBox:disabled,
QAbstractSpinBox:disabled
{
	border:0;
	margin:1px;
	color:$sub-text-disabled;
	background-color:$control-disabled;
}

QComboBox::drop-down,
QAbstractSpinBox::drop-down,
QSpinBox::drop-down,
QDateTimeEdit::drop-down
{
	border:0;
	margin-left:$base-padding;
	margin-right:$base-padding * 3;
	margin-top:5px;
}

QComboBox::down-arrow,
QDateTimeEdit::down-arrow
{
	margin-top: -2px;
	image:url(skin:controls/arrow_down.svg);
	width:14px;
}

QComboBox::down-arrow:disabled,
QDateTimeEdit::down-arrow:disabled
{
	image:url(skin:controls/arrow_down_disabled.svg);
}

QSpinBox::down-button,
QAbstractSpinBox::down-button,
{
	padding-right:4px;
	image:url(skin:controls/arrow_down.svg);
	width:14px;
	padding-bottom:1px;
}

QSpinBox::down-button:disabled,
QAbstractSpinBox::down-button:disabled,
{
	image:url(skin:controls/arrow_down_disabled.svg);
}

QSpinBox::up-button,
QAbstractSpinBox::up-button
{
	padding-right:4px;
	image:url(skin:controls/arrow_up.svg);
	width:14px;
	padding-top:1px;
}

QSpinBox::up-button:disabled,
QAbstractSpinBox::up-button:disabled,
{
	image:url(skin:controls/arrow_up_disabled.svg);
}

QComboBox QAbstractItemView
{
	background-color:$sub-bg;
	border:1px solid $base-border;
	color:$sub-text;
}

QLabel,
QCheckBox,
QAbstractCheckBox,
QTreeView::indicator,
QRadioButton
{
	color:$sub-text;
	background:transparent;
}

QLabel:disabled
{
	color:$sub-text-disabled;
}

QCheckBox::indicator,
QTreeView::indicator,
{
	background-color:$button-bg;
	border:1px solid $button-border;
	height:13px;
	width:13px;
	margin-top: 1px;
}

QMenu::indicator
{
	width: 12px;
	left: 6px;
}

QCheckBox::indicator:checked,
QMenu::indicator:checked,
QTreeView::indicator:checked
{
	image:$checkbox;
}

QCheckBox::indicator:disabled,
QTreeView::indicator:disabled
{
	border:1px solid $median-bg;
	background-color:$control-disabled;
}

QCheckBox::indicator:checked:disabled,
QTreeView::indicator:checked:disabled
{
	border:1px solid transparent;
	image:$checkbox-disabled;
}

QRadioButton:disabled,
QCheckBox:disabled
{
	color:$sub-text-disabled;
}

QRadioButton::indicator
{
	background:$button-bg;
	border:1px solid $button-border;
	border-radius:7px;
	height:12px;
	width:12px;
}

QRadioButton::indicator:disabled
{
	background-color:$control-disabled;
	margin:1px;
	border:1px solid transparent;
}

QRadioButton::indicator:checked
{
	image:$radio;
}

QRadioButton::indicator:checked:disabled
{
	image:$radio_disabled;
}

QSlider::groove
{
	background:$slider-groove;
	border:1px solid $slider-groove-border;
}

QSlider::groove:horizontal
{
	height:6px;
}

QSlider::groove:vertical
{
	width:6px;
}

QSlider::groove:disabled
{
	background:$control-disabled;
	border:1px solid transparent;
}

QSlider::handle
{
	background:$slider-handle;
	border:1px solid $slider-handle-border;
	border-radius:2px;
}

QSlider::handle:horizontal
{
	margin:-4px -1px;
	width:20px;
}

QSlider::handle:vertical
{
	margin:-1px -5px;
	height:20px;
}

QSlider::handle:hover,
QSlider::handle:pressed
{
	background:$slider-handle-hover;
}

QSlider::handle:disabled
{
	background-color:$control-disabled;
	border:1px solid $control-disabled;
}

QComboBox::text
{
	background-color: transparent;
}

QCheckBox::indicator:hover,
QTreeView::indicator:hover,
QRadioButton::indicator:hover,
QComboBox:hover
{
	background-color:$input-hover;
}

QComboBox:editable:hover
{
	background-color:$input-bg;
}

QScrollBar:horizontal
{
	background:transparent;
	margin-top: 1px;
	height:15px;
}

QScrollBar:vertical
{
	background:transparent;
	margin-left: 1px;
	width:15px;
}

UserView QScrollBar:horizontal,
LogTextBrowser QScrollBar:horizontal
{
	margin-top:1px;
}

UserView QScrollBar:vertical,
LogTextBrowser QScrollBar:vertical
{
	margin-left:1px;
}

QScrollBar::handle
{
	background:$sub-highlight;
	min-width:10px;
	min-height:10px;
}

QScrollBar::handle:hover
{
	background:$scrollbar-hover;
}

QScrollBar::left-arrow,
QScrollBar::right-arrow,
QScrollBar::up-arrow,
QScrollBar::down-arrow,
QScrollBar::sub-line,
QScrollBar::add-line,
QScrollBar::add-page,
QScrollBar::sub-page
{
	background:$base-bg;
	height:0;
	width:0;
}

QAbstractScrollArea::corner
{
	background:transparent;
	height:0;
	width:0;
}

#qteRichText, #qptePlainText, #qwMacWarning
{
	color:$sub-text;
	background-color:$sub-bg;
	border:1px solid $base-border;
	padding:$base-padding;
}

#qtbToolBar {
        border:1px solid transparent;
	background:transparent;
}

QFontDialog {
	min-width: 600px;
	min-height: 400px;
}

#BanEditor {
	min-width: 600px;
}

#GlobalShortcutTarget {
	min-height: 600px;
}

ViewCert {
	min-height: 600px;
}

QColorLuminancePicker {
	color:$sub-text;
	background: transparent;
}